input {
  padding: 8px 12px;
  border: 1px solid #6a6e82;
  border-radius: 8px;
}

button {
  padding: 8px 20px;
  color: #ffffff;
  border: 1px solid #6a6e82;
  background-color: #6a6e82;
  border-radius: 8px;
  font-weight: bold;
}

.App {
  background-color: #292f4c;
  color: white;
  text-align: center;
  padding: 1em;
}

.App-footer {
  min-height: 10vh;
}
